streamlit

langchain
langchain-core
langchain-community
langgraph

langgraph-checkpoint-postgres

langchain-groq
langchain-huggingface
langchain-tavily

sentence-transformers
faiss-cpu
rank-bm25

pypdf
python-docx

psycopg[binary]
python-dotenv